/* start gloobal rouls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--main-color);
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end gloobal rouls */
/* start header  */
header {}

header {}

/* end header  */
/* start landing */

/* end landing */